<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="author" content="order by dede58.com"/>
<title>注册</title>
<meta name="keywords" content="DeathGhost,DeathGhost.cn,web前端设,移动WebApp开发" />
<meta name="description" content="DeathGhost.cn::H5 WEB前端设计开发!" />
<meta name="author" content="DeathGhost"/>
<link href="/static/index/style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/index/js/public.js"></script>
<script type="text/javascript" src="/static/index/js/jqpublic.js"></script>
<script type="text/javascript" src="/static/index/js/jquery.js"></script>

<!--
Author: DeathGhost
Author URI: http://www.deathghost.cn
-->
</head>
<body>
<header>
 <section class="Topmenubg">
  <div class="Topnav">
   <div class="LeftNav">
    <a href="register.html">注册</a>/<a href="login.html">登录</a><a href="user_center.html">{{ username }}</a>
   </div>
   <div class="RightNav">
    <a href="user_center.html">用户中心</a> <a href="user_orderlist.html" target="_blank" title="我的订单">我的订单</a> <a href="cart.html">购物车（0）</a> <a href="user_favorites.html" target="_blank" title="我的收藏">我的收藏</a> <a href="#">商家入驻</a>
   </div>
  </div>
 </section>
 <div class="Logo_search">
  <div class="Logo">
   <img src="/static/index/images/logo.jpg" title="DeathGhost" alt="模板">
   <i></i>
   <span>新郑市 [ <a href="#">郑州西亚斯学院</a> ]</span>
  </div>
  <div class="Search"> 
   <form method="get" id="main_a_serach" onsubmit="return check_search(this)">
   <div class="Search_nav" id="selectsearch">
    <a href="javascript:;" onClick="selectsearch(this,'restaurant_name')" class="choose">餐厅</a>
    <a href="javascript:;" onClick="selectsearch(this,'food_name')">食物名</a>
   </div>
   <div class="Search_area"> 
   <input type="search" id="fkeyword" name="keyword" placeholder="请输入您所需查找的餐厅名称或食物名称..." class="searchbox" />
   <input type="submit" class="searchbutton" value="搜 索" />
   </div>
   </form>
   <p class="hotkeywords"><a href="#" title="酸辣土豆丝">酸辣土豆丝</a><a href="#" title="这里是产品名称">螃蟹炒年糕</a><a href="#" title="这里是产品名称">牛奶炖蛋</a><a href="#" title="这里是产品名称">芝麻酱凉面</a><a href="#" title="这里是产品名称">滑蛋虾仁</a><a href="#" title="这里是产品名称">蒜汁茄子</a></p>
  </div>
 </div>
 <nav class="menu_bg">
  <ul class="menu">
   <li><a href="index.html">首页</a></li>
   <li><a href="list.html">订餐</a></li>
   <li><a href="category.html">积分商城</a></li>
   <li><a href="article_read.html">关于我们</a></li>
  </ul>
 </nav>
</header>
<!--Start content-->
<section class="Psection MT20">
 <form id="register">
  <table class="Register">
  <tr>
  <td width="40%" align="right" class="FontW">用户名：</td>
  <td><input type="text" id="username" required autofocus></td>
  </tr>
  <tr>
  <td width="40%" align="right" class="FontW">密码：</td>
  <td><input type="password" id="password" required></td>
  </tr>
  <tr>
  <td width="40%" align="right" class="FontW">再次确认：</td>
  <td><input type="password" id="password1" required></td>
  </tr>
  <tr>
  <td width="40%" align="right" class="FontW">电子邮件：</td>
  <td><input type="email" id="email" required></td>
  </tr>
  <tr>
  <td width="40%" align="right" class="FontW">手机号码：</td>
  <td><input type="text" id="phone" required pattern="[0-9]{11}"></td>
  </tr>
  <tr>
  <td width="40%" align="right" class="FontW">验证码：</td>
  <td><input type="text" id="checkcode" required><img id="img_check" style="margin-left:8px; vertical-align:bottom" width="83" height="36"></td>
  </tr>
  <tr>
  <td width="40%" align="right"></td>
  <td><input type="submit" id="regBtn" class="Submit_b" value="注 册">( 已经是会员，<a href="login.html" class="BlueA">请登录</a> )</td>
  </tr>
  </table>
 </form>
</section>
<script type="text/javascript" src="/static/index/js/jquery.js"></script>
{#<script type="text/javascript" src="/static/index/js/base.js"></script>#}
<script type="text/javascript">
/**
 * 配置验证须知
 * 1、要引入jquery.js、base.js、base.css
 * 2、提交按钮应在<form></form>内部
 * 3、在要验证的input中写上lay-verify="验证方法名|验证方法名" 可写多个但要用|分隔开
 * 4、要添加验证方法可在base.js中添加
 * 5、诺只想引用提示弹出：showTip.success("弹出提示内容");、showTip.fall("弹出提示内容")
 * 6、base.css中可以自行修改弹窗样式
 */
$('#img_check').attr('src', '{{ url_for(".captcha") }}?id='+Math.random())
$("#register").submit(function(event) {
    event.preventDefault();
    // 获取数据
    var username = $("#username").val();
    var email = $("#email").val();
    var password = $("#password").val();
    var password1 = $("#password1").val();
    var checkcode = $("#checkcode").val();
    var phone = $("#phone").val();

    $.ajax({
        url: "{{ url_for('.register') }}",
        type: 'post',
        data: {
            'username': username,
            'email': email,
            'phone': phone,
            'password': password,
            'password1': password1,
            'checkcode': checkcode
        },
        dataType: "json",
        {#async: true,#}
        success: function (result) {
            var status = result.status;
            var errmsg = result.errmsg;
            alert(errmsg);
            {#showTip.fall(errmsg)#}
            if (status === 0) {
                setTimeout(function () {
                    window.location.href = "{{ url_for('.login') }}";
                }, "1000");
            } else if (status === 5) {
                $('#img_check').attr('src', '{{ url_for(".captcha") }}?id=' + Math.random())
            }
        },
        error: function (xhr, status, error) {
            // 处理错误
            console.log(xhr, status, error)
            alert(xhr, status, error)
        }
    })

});
$('#logBtn').click(function(){
    window.location.href = "{{ url_for('.login') }}";
});
$('#img_check').click(function(){
    $(this).attr('src', '{{ url_for(".captcha") }}?id='+Math.random())
});
</script>
<!--End content-->
<div class="F-link">
  <span>友情链接：</span>
  
  
  
  
 </div>
<footer>
 <section class="Otherlink">
  <aside>
   <div class="ewm-left">
    <p>手机扫描二维码：</p>
    <img src="/static/index/images/Android_ico_d.gif">
    <img src="/static/index/images/iphone_ico_d.gif">
   </div>
   <div class="tips">
    <p>客服热线</p>
    <p><i>1830927**73</i></p>
    <p>配送时间</p>
    <p><time>09：00</time>~<time>22:00</time></p>
    <p>网站公告</p>
   </div>
  </aside>
  <section>
    <div>
    <span><i class="i1"></i>配送支付</span>
    <ul>
     <li><a href="article_read.html" target="_blank" title="标题">支付方式</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">配送方式</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">配送效率</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">服务费用</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i2"></i>关于我们</span>
    <ul>
     <li><a href="article_read.html" target="_blank" title="标题">招贤纳士</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">网站介绍</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">配送效率</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">商家加盟</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i3"></i>帮助中心</span>
    <ul>
     <li><a href="article_read.html" target="_blank" title="标题">服务内容</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">服务介绍</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">常见问题</a></li>
     <li><a href="article_read.html" target="_blank" title="标题">网站地图</a></li>
    </ul>
    </div>
  </section>
 </section>
 <div class="copyright">© 版权所有 2022</div>
</footer>
</body>
</html>
